@import "tailwindcss";

@theme {
  --color-brand-primary: #a9203e;
  --color-brand-secondary: #ff8f00;
  --color-brand-slate: #475569;
  
  --color-maroon-950: #320a14;
  --color-maroon-900: #430d1a;
  --color-maroon-700: #651426;
  --color-maroon-600: #76172c;
  --color-maroon-500: #a9203e;
  --color-maroon-400: #c41e3a;
  --color-maroon-100: #f3b0aa;
  --color-maroon-50: #f6e6e3;
  
  --color-success: #3cd070;
  --color-warning: #fada5e;
  --color-danger: #c41e3a;
  --color-info: #4166f5;
  
  --font-brand: var(--font-manrope), sans-serif;
  --font-serif: var(--font-ibm-plex), serif;
  --font-mono: var(--font-jetbrains), monospace;
  
  --shadow-primary: 0 8px 16px -4px rgba(169, 32, 62, 0.2);
  --shadow-secondary: 0 8px 16px -4px rgba(255, 143, 0, 0.2);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
